	<!--▼ Footer ▼-->
	<footer class="c-footer">
		<div class="l-container">
			<div class="c-footer__left">
				<h4>Giới thiệu</h4>
				<div class="c-footer__description">
					<p>Tôi là Đặng Ngọc Quý là người sáng lập ra trang web này. Mục đích tôi muốn chia sẻ kiến thức đến tất cả các bạn</p>
				</div>
			</div>
			<div class="c-footer__center">
				<h4>Liên kế</h4>
				<p>Tôi chưa có sự liên kết nào. Vui lòng liên kết nhiều trang web hơn</p>
			</div>
			<div class="c-footer__right">
				<h4>Liên hệ</h4>
				<div class="c-footer__contact">
					<p>Điện thoại: +8412345678</p>
					<p>Email: email@gmail.com</p>
					<p>Copyright © 2017 - 2019. by Toidicode.com</p>
				</div>
			</div>
		</div>
		<div class="c-scroll">
			<button><i class="fa fa-arrow-up"></i></button>
		</div>
	</footer>
	<script src="assets/js/main.js"></script>
</body>
</html>