<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="c-home">
   <section class="c-news">
        <div class="l-container">
            <div class="c-title u-yellow u-white">
                <h1>Bài viết mới nhất</h1>
            </div>
            <div class="col col-3">
                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/php_image.jpg" alt="">
                        <div class="c-category">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/php_image.jpg" alt="">
                        <div class="c-category">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/php_image.jpg" alt="">
                        <div class="c-category">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        <span>Đăng: 4 tháng trước - Bởi: Dang Quy</span>
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/php_image.jpg" alt="">
                        <div class="c-category">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/php_image.jpg" alt="">
                        <div class="c-category">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/php_image.jpg" alt="">
                        <div class="c-category">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>
            </div>
        </div>
   </section>

   <section class="c-watched">
        <div class="l-container">
            <div class="c-title u-yellow u-white">
                <h1>Bài viết xem nhiều nhất</h1>
            </div>
            <div class="col col-3">
                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/htmlcssjs.jpg" alt="">
                        <div class="c-category">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/laravel.png" alt="">
                        <div class="c-category">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/mysql.jpg" alt="">
                        <div class="c-category">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        <span>Đăng: 4 tháng trước - Bởi: Dang Quy</span>
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/php_image.jpg" alt="">
                        <div class="c-category">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/php_image.jpg" alt="">
                        <div class="c-category">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/php_image.jpg" alt="">
                        <div class="c-category">
                            <p>PHP</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="c-laravel">
        <div class="l-container">
            <div class="c-title u-yellow u-white">
                <h1>Bài viết về Laravel</h1>
            </div>
            <div class="col col-3">
                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/laravel.png" alt="">
                        <div class="c-category">
                            <p>laravel</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì laravel 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/laravel.png" alt="">
                        <div class="c-category">
                            <p>laravel</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì laravel 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/laravel.png" alt="">
                        <div class="c-category">
                            <p>laravel</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        <span>Đăng: 4 tháng trước - Bởi: Dang Quy</span>
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì laravel 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/laravel.png" alt="">
                        <div class="c-category">
                            <p>laravel</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì laravel 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/laravel.png" alt="">
                        <div class="c-category">
                            <p>laravel</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì laravel 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/laravel.png" alt="">
                        <div class="c-category">
                            <p>laravel</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì laravel 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="c-database">
        <div class="l-container">
            <div class="c-title u-yellow u-white">
                <h1>Bài viết về Database</h1>
            </div>
            <div class="col col-3">
                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/mysql.jpg" alt="">
                        <div class="c-category">
                            <p>Database</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/mysql.jpg" alt="">
                        <div class="c-category">
                            <p>Database</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì Database 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/mysql.jpg" alt="">
                        <div class="c-category">
                            <p>Database</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        <span>Đăng: 4 tháng trước - Bởi: Dang Quy</span>
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì Database 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/mysql.jpg" alt="">
                        <div class="c-category">
                            <p>Database</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì Database 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/mysql.jpg" alt="">
                        <div class="c-category">
                            <p>Database</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì Database 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/mysql.jpg" alt="">
                        <div class="c-category">
                            <p>Database</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì Database 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="c-html_css">
        <div class="l-container">
            <div class="c-title u-yellow u-white">
                <h1>Bài viết về HTML/CSS</h1>
            </div>
            <div class="col col-3">
                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/htmlcssjs.jpg" alt="">
                        <div class="c-category">
                            <p>HTML/CSS</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì PHP 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/htmlcssjs.jpg" alt="">
                        <div class="c-category">
                            <p>HTML/CSS</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì HTML/CSS 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/htmlcssjs.jpg" alt="">
                        <div class="c-category">
                            <p>HTML/CSS</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        <span>Đăng: 4 tháng trước - Bởi: Dang Quy</span>
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì HTML/CSS 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/htmlcssjs.jpg" alt="">
                        <div class="c-category">
                            <p>HTML/CSS</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì HTML/CSS 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/htmlcssjs.jpg" alt="">
                        <div class="c-category">
                            <p>HTML/CSS</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì HTML/CSS 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>

                <div class="col-3__item">
                    <div class="col-3__img">
                        <img src="assets/img/htmlcssjs.jpg" alt="">
                        <div class="c-category">
                            <p>HTML/CSS</p>
                        </div>
                    </div>
                    <div class="c-date__post">
                        Đăng: 4 tháng trước - Bởi: Dang Quy
                    </div>
                    <div class="c-description">
                        <p>Như các bạn đã biết thì HTML/CSS 7.4 vừa được ra mắt vào ngày 28/11/2019, ngoài sự tối ưu về hiệu năng và...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>